code {
	color: #BD003F;
	background-color: #FFE0EB;
	padding: 0 3px;
	border-radius: 3px;
}


.homework-ribbon {
	width: 100%;
	height: 25vh;
	background-color: #3F51B5;
	flex-shrink: 0;
}

.homework-main {
	margin-top: -15vh;
	flex-shrink: 0;
}

.homework-header .mdl-layout__header-row {
	padding-left: 40px;
}

.homework-container {
	max-width: 1600px;
	width: calc(100% - 16px);
	margin: 0 auto;
}

.homework-content {
	border-radius: 2px;
	padding: 40px;
	font-size: 20px;
}